﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex flex-column align-items-center center home-container">
    <h3 class="display-4 text-uppercase fw-bolder text-black mt-4">Benvenuto!</h3>
    <h2 class="mt-5 text-black">Accedi o registrati per accedere alla galleria delle nostre uniche e meravigliose</h2>
    <h1 class="fw-bolder mt-2">IPhotos</h1>
</div>