<header class="">
    <nav class="navbar navbar-expand-lg bg-body-tertiary p-4">
        <div class="container-fluid d-flex justify-content-between">
            <h1 class="text-uppercase fw-bolder text-center">IPhoto</h1>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                     <li class="nav-item text-uppercase">
                        <a class="nav-link active" aria-current="page" href="@Url.Action("Index", "Photo")">Foto</a>
                    </li>
                    <li class="nav-item text-uppercase">
                        <a class="nav-link active" aria-current="page" href="@Url.Action("Index", "Category")">Categorie</a>
                    </li>
                    @* <partial name="_LoginPartial" />  *@
                </ul>
            </div> 
        </div>
    </nav>
</header>