<div class="container">
    <h2 class="text-center text-uppercase single-photo-title fw-bold pt-5">@Model.Title</h2>
    <div class="row">
        <div class="col text-black-center text-uppercase text-black d-none no-photo-founded">
            <h3>Non è stata trovata nessuna foto</h3>
        </div>
        <div class="container">
            <div class="row py-4 sigle-photo-details">
                
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    const baseApiUrl = "api/PhotoApi/";
    function loadAllPhotos(title) {
        //console.log("Init loadAllPhotos");
        axios.get(`${baseApiUrl}GetPhoto`,
            {
                params:
                {
                    id: id
                }
            }).then((response) => {
                if (response.data.length == 0) {
                    document.querySelector('.no-photo-founded').classList.remove('d-none');
                    document.querySelector('.photo-card-wrapper').classList.add('d-none');
                }
                else {
                    document.querySelector('.no-photo-founded').classList.add('d-none');
                    let photoWrapper = document.querySelector('.photo-card-wrapper');
                    photoWrapper.classList.remove('d-none');

                    photoWrapper.innerHTML = '';
                    response.data.forEach((photo) => {
                        console.log(photo);
                        photoWrapper.innerHTML += `
                                    <div class="col-md-4 mb-3 d-flex">
                                        <div class="card photo-card flex-fill position-relative">
                                            <div class="photo-wrapper">
                                                <a href="@Url.Action("GetPhoto", "Gallery")">
                                                    <img src="/img/${photo.image}" alt="${photo.title}" class="photo-img" />
                                                </a>
                                            </div>
                                            <div class="card-body">
                                                <h3 class="text-center photo-title py-1">${photo.title}</h3>
                                                <p class="text-center my-4">${photo.description} </p>
                                                <div class="d-flex justify-content-center gap-1">
                                                    <span>
                                                        <a href="@Url.Action("GetPhoto", "Gallery")">
                                                            <i class="fa-solid fa-eye show-icon"></i>
                                                        </a>
                                                    </span>
                                                </div>
                                             </div>
                                        </div>
                                    </div>
                            `;
                    });
                }
            });
    }
</script>