<div class="text-center pt-5 pb-4">
    <h2 class="text-uppercase fw-bold">Galleria</h2>
</div>
<div class="container pt-2" id="main-api-content">
    <div class="row">
        <div class="col mb-5">
            <input type="text" class="search-by-name text-center form-control" placeholder="Cerca per Titolo" />
        </div>
        <div class="col text-black-center text-uppercase text-black d-none no-photo-founded">
            <h3>Non è stata trovata nessuna foto</h3>
        </div>
    </div>
    <div class="row">
        <div class="col alert alert-success text-center position-relative d-none" role="alert">
            <h4 class="alert-heading">Il tuo messaggio è stato inviato con successo!</h4>
            <i class="fa-solid fa-xmark close-alert position-absolute" onclick="closeAlert()"></i>
        </div>
    </div>
    <div class="container pt-2" id="main-content">
        <div class="row justify-cointent-center photo-card-wrapper">
            @* Qui vengono stampate le card delle foto *@
        </div>
    </div>
</div>

<button class="button-55 off-canvas position-fixed" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions" onclick="closeAlert()">Invia un messaggio</button>

    <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Messaggio</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <form onsubmit="createMsg(event)" method="post" id="my-form">
                <div class="mb-3">
                    <strong>Email:</strong>
                    <input id="msg-email" type="email" class="d-block w-100 form-control" />
                </div>
                <div class="mb-3">
                    <strong>Messaggio:</strong>
                    <textarea id="msg-text" class="d-block w-100 form-control" cols="75" rows="10"></textarea>
                </div>
                <div class=" d-flex justify-content-start">
                    <input type="submit" class="btn btn-small btn-light" value="Invia" />
                </div>
            </form>
        </div>
}

</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    const baseApiUrl = "api/PhotoApi/";

    function loadAllPhotos(title)
    {
        axios.get(`${baseApiUrl}GetPhotos`,
        {
            params:
            {
                title: title
            }
        }).then((response) => {
            if (response.data.length == 0)
            {
                document.querySelector('.no-photo-founded').classList.remove('d-none');
                document.querySelector('.photo-card-wrapper').classList.add('d-none');
            }
            else {
                document.querySelector('.no-photo-founded').classList.add('d-none');
                let photoWrapper = document.querySelector('.photo-card-wrapper');
                photoWrapper.classList.remove('d-none');

                photoWrapper.innerHTML = '';
                response.data.forEach((photo) => {
                    console.log(photo);
                        photoWrapper.innerHTML += `
                                <div class="col-md-4 mb-3 d-flex">
                                    <div class="card photo-card flex-fill position-relative">
                                        <div class="photo-wrapper">
                                             <a href="@Url.Action("GetPhoto", "Photo")?Id=${photo.id}">
                                                   ${photo.image ? `<img src="/img/${photo.image}" alt="${photo.title}" class="photo-img" />` : `<img src="${photo.imgSrc}" alt="${photo.title}" class="photo-img" />`}
                                             </a>
                                        </div>
                                        <div class="card-body">
                                            <h3 class="text-center photo-title py-1">${photo.title}</h3>
                                            <p class="text-center my-4">${photo.description} </p>
                                            <div class="d-flex justify-content-center gap-1">
                                                <span>
                                                            <a href="@Url.Action("GetPhoto", "Photo")?Id=${photo.id}">
                                                        <i class="fa-solid fa-eye show-icon"></i>
                                                    </a>
                                                </span>
                                            </div>
                                         </div>
                                    </div>
                                </div>
                        `;
                });
            }
        });
    }

    function createMsg(evt) {
        evt.preventDefault();
        let offcanvas = document.querySelector('.offcanvas');
        let email = document.getElementById('msg-email');
        let text = document.getElementById('msg-text');
        let alert = document.querySelector('.alert-success');
        alert.classList.add('d-none');
      
        axios.post('/api/MessageApi/SendMessage', {
            email: email.value,
            text: text.value,
        })
            .then(function (response) {
                console.log(response);
                alert.classList.remove('d-none');
                document.getElementById("my-form").reset();
            })
            .catch(function (error) {
                console.log(error);
            });
    }
    function closeAlert(){
        let alert = document.querySelector('.alert-success');
        alert.classList.add('d-none');
    }
    function searchPhoto()
    {
        console.log(this.value);
        loadAllPhotos(this.value)
    }

    //richiamo la funzione
    loadAllPhotos('')

    //ogni volta che scrivo una lettera nella barra di ricerca viene chiamata la funzione di filtraggio loadAllPhotos attraerso la searchPhoto
    document.querySelector('.search-by-name').addEventListener('keyup', searchPhoto)
</script>