*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:root {
    --gray: #F0F4FA;
    --white: #FFFFFF;
    --blue: #385BCE;
    --black: #232323;
    --green: #4ED7A8;
    --red: #FF0000;
    --orange: #F09B23;
}

footer {
  
}

.social-icons > i {
    font-size: 1.3em;
    transition: 0,5s;
}

i:hover {
    cursor: pointer;
    transition: 0,5s;
    transform: scale(1.2)
}

p {
    margin: 0;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #242e30;
}

a:hover {
    color: #8d99ae;
    transition: 0, 5s;
}

.photo-wrapper {
    height: 235px;
    overflow: hidden;
    transition: 0.3s;
}

.photo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo-card {
    border: 2px solid #6b4226;
    background-color: #fff8e6;
    transition: transform 0.2s;
}

.photo-card:hover {
    transform: scale(1.05);
    cursor: pointer
}


.show-icon, .update-icon {
    background-color: white;
    color: black;
}

.show-icon, .go-back-icon, .update-icon, .delete-icon {
    padding: 7px;
    border-radius: 2px;
    font-size: 1.05em
}

.show-icon:hover, .go-back-icon:hover, .update-icon:hover, .delete-icon:hover {
    transform: scale(1.05);
    transition: 1s;
    cursor: pointer;
}

.delete-icon {
    background-color: white;
    color: black;
}
button{
    border:0;
}
.single-photo-icons{
    bottom:7px;
    right:7px;
}
.go-back-icon{
    position:absolute;
    top:7px;
    right:7px;
}