*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:root {
    --gray: #F0F4FA;
    --white: #FFFFFF;
    --blue: #385BCE;
    --black: #232323;
    --green: #4ED7A8;
    --red: #FF0000;
    --orange: #F09B23;
}

main{
    min-height: 70vh;
}
.home-container{
    padding-top: 18vh;
}
.social-icons > i {
    font-size: 1.3em;
    transition: 0,5s;
}

i:hover {
    cursor: pointer;
    transition: 0,5s;
    transform: scale(1.2)
}

p {
    margin: 0;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #242e30;
}

a:hover {
    color: #8d99ae;
    transition: 0, 5s;
}

.photo-wrapper {
    height: 235px;
    overflow: hidden;
    transition: 0.3s;
}

.photo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo-card {
    border: 2px solid #6b4226;
    background-color: #fff8e6;
    transition: transform 0.2s;
}

.photo-card:hover {
    transform: scale(1.05);
    cursor: pointer
}


.show-icon, .update-icon {
    background-color: #fff8e6;
    color: black;
}

.show-icon, .go-back-icon, .update-icon, .delete-icon {
    padding: 7px;
    border-radius: 2px;
    font-size: 1.05em
}

.show-icon:hover, .go-back-icon:hover, .update-icon:hover, .delete-icon:hover {
    transform: scale(1.05);
    transition: 1s;
    cursor: pointer;
}

.delete-icon {
    background-color: #fff8e6;
    color: black;
}
button{
    border:0;
}
.single-photo-icons{
    bottom:7px;
    right:7px;
}
.go-back-icon {
    background-color: #fff8e6;
    position:absolute;
    top: 7px;
    right: 7px;
}
.private-photo-badge{
    top: 7px;
    right: 7px;
    z-index:1;
}
.navbar-collapse {
    flex-grow: 0;
}
h1,h2,h3,h4,h5{
    margin:0
}
.off-canvas{
    bottom: 7px;
    left:7px;
    z-index:1000;
}

.button-55 {
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-55:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

.button-55:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}
.offcanvas{
    width: 500px !important    
}
.close-alert{
    top:3px;
    right: 5px;
}
nav.navbar, footer{
    background-color:var(--gray) !important;
}